<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Dish type:</strong>
    <%= menu.dish_type %>
  </p>

  <p>
    <strong>Allergens:</strong>
    <%= menu.allergens %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= menu.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

</div>
