<tr id="<%= dom_id menu %>">
  <td class="text-center">
    <%= menu.name %>
  </td>

  <td class="text-center">
    <%= menu.description %>
  </td>

  <td class="text-center">
    <%= menu.dish_type %>
  </td>

  <td class="text-center">
    <%= menu.allergens %>
  </td>

  <td class="text-center">
    <%= menu.category %>
  </td>

  <td class="text-center">
    <%= menu.price %>
  </td>

  <td>
    <strong><%= link_to "Show", menu %></strong>
  </td>
</tr>
