<div id="<%= dom_id import %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Filename:</strong>
    <%= import.filename %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= import.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">File type:</strong>
    <%= import.file_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= import.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total rows:</strong>
    <%= import.total_rows %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= import.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Finished at:</strong>
    <%= import.finished_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meta:</strong>
    <div style="background: red"> 
      <%= import.meta %>
    </div>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this import", import, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this import', edit_import_path(import), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
